// @import './resets/reset.scss';

body {
  background-color: black;
  // color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.navbar {
  background-color: black;
}

//overview page
.category-tile {
  text-align: center;
  height: 100vh;
}

.category-overview-header {
  margin-top: 25%;
  font-size: 800%;
  color: white;
}

.category-tile {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease-in-out, font-size 0.5s ease-in-out;
  &:hover {
    @extend .tile-hover;
  }
}

//category overview tile
.review-tile {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
  border: 5px solid black;
  height: 65vh;
  min-height: 400px;
  &:hover {
    @extend .tile-hover;
  }
}

.review-tile-image {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.review-tile-stars {
  width: 70%;
  max-width: 130px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tile-hover {
  opacity: 0.8;
}

.add-new-review-button {
  color: white;
}

//review page
.review-image {
  height: 70vh;
}

.review-title {
  font-size: 200%;
  color: white;
}

label {
  color: white;
}

input, select, textarea {
  color: black;
}

//form

form {
  text-align: center;
  background-color: gray;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 30px 50px 30px 50px;

}

.text-input {
  width: 300px;
}

label {
  margin-top: 20px;
  font-size: 150%;
}

//review
.review-column {
  margin-top: 50px;
  margin-bottom: 50px;
}

.amazon-link-button {
  margin-top: 20px;
}

.review-header {
  margin-top: 30px;
}

.review-stars {
  margin-top: 30px;
  width: 100px;
}

.review-text {
  margin-top: 30px;
  font-size: 120%;
  color: white;
}

.review-date {
  color: white;
}





