// @import './resets/reset.scss';

body {
  background-color: black;
  // color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

//overview page
.category-tile {
  text-align: center;
  height: 100vh;
}

.category-overview-header {
  margin-top: 25%;
  font-size: 1000%;
  color: white;
}

.category-tile {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s ease-in-out, font-size 0.5s ease-in-out;
  &:hover {
    @extend .tile-hover;
  }
}

//category overview tile
.review-tile {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
  border: 5px solid black;
  height: 60vh;
  min-height: 400px;
  &:hover {
    @extend .tile-hover;
  }
}

.review-tile-image {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.review-tile-stars {
  width: 70%;
  max-width: 130px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tile-hover {
  opacity: 0.8;
  font-size: 110%;
}

.add-new-review-button {
  color: white;
}

//review page
.review-image {
  height: 70vh;
}

.review-title {
  font-size: 200%;
  color: white;
}

label {
  color: white;
}

input, select, textarea {
  color: black;
}