.category-tile {
  text-align: center;
  height: 100vh;
}

.category-overview-header {
  margin-top: 25%;
  font-size: 1000%;
  color: white;
}

.category-tile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
